version: "2"
services:
  app: &main
    image: keboola/google-drive-extractor
    build:
      context: .
    environment:
      - CLIENT_ID
      - CLIENT_SECRET
      - ACCESS_TOKEN
      - REFRESH_TOKEN
      - SERVICE_ACCOUNT_JSON

  dev:
    <<: *main
    volumes:
      - .:/code

