includes:
    - phpstan-baseline.neon

parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - vendor/symfony/filesystem/Filesystem.php
        - src/Keboola/GoogleDriveExtractor/Configuration/ConfigDefinition.php
    ignoreErrors:
